@import "tailwindcss";

@keyframes fadeIn {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(4px);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
}